@page "/history"
@inject IBattleService BattleService;
@inject IToastService ToastService;
@inject IUserService UserService;
@attribute [Authorize]

@if (BattleService.IsUserInBattle)
{
    <Battle BattleId="@BattleService.CurrentBattleId" OnBattleCompleted="BattleCompleted" />
}
else
{
    @if (UserService.History.Count == 0)
    {
        <span>Loading History</span>
    }
    else
    {
        <div class="row">
            <div class="col-4">
                
            <ul class="list-group">
                @foreach (BattleHistoryEntry item in UserService.History)
                {
                    if (item.YouWon)
                    {
                        <li @onclick="() => OnItemSelect(item.BattleId)" 
                            class="list-group-item list-group-item-success list-group-item-action @(SelectedBattleId == item.BattleId ? "active": "")">
                            @item.OpponentName
                        </li>
                    }
                    else
                    {
                        <li @onclick="() => OnItemSelect(item.BattleId)" 
                            class="list-group-item list-group-item-danger list-group-item-action @(SelectedBattleId == item.BattleId ? "active": "")">
                            @item.OpponentName
                        </li>
                    }
                }
            </ul>
   
            </div>
            <div class="col-8">
                <Battle BattleId="@SelectedBattleId"/>
            </div>
        </div>

    }
}

@code {

    public int SelectedBattleId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await BattleService.GetCurrentBattle();
        await UserService.GetHistoryAsync();
    }

    public void BattleCompleted()
    {
        StateHasChanged();
    }

    public void OnItemSelect(int battleId)
    {
        SelectedBattleId = battleId;
    }
}
