@page "/profile"
@inject IUserService UserService;
@inject ILocalStorageService StorageService;
@inject AuthenticationStateProvider AuthService;
@inject NavigationManager NavigationService;
@attribute [Authorize]


<table class="table table-hover">
    <tbody>
        <tr>
            <td>Username</td>
            <td>@info.Username</td>
        </tr>

        <tr>
            <td>Email</td>
            <td>@info.Email</td>
        </tr>

        <tr>
            <td>Password</td>
            <td>
                <a href="changePassword">
                    <button class="btn btn-warning px-3 py-1">Change Password</button>
                </a>
            </td>
        </tr>

        <tr>
            <td>Costs</td>
            <td>@info.TotalCosts</td>
        </tr>

        <tr>
            <td>Battles</td>
            <td>
                @info.Battles
                <a class="btn btn-link" href="history">View History</a>
            </td>
        </tr>
        <tr>
            <td>Victories</td>
            <td>@info.Victories</td>
        </tr>
        <tr>
            <td>Defeats</td>
            <td>@info.Defeats</td>
        </tr>
        <tr>
            <td>Total Damage</td>
            <td>@info.TotalDamage</td>
        </tr>
        <tr>
            <td>Logout</td>
            <td><button class="btn btn-danger" @onclick="Logout">Logout</button></td>
        </tr>
    </tbody>
</table>



@code {

    public UserInfo info { get; set; } = new UserInfo();


    protected override async Task OnInitializedAsync()
    {
        info = await UserService.GetUserInfo();

    }

    public async Task Logout()
    {
        await StorageService.RemoveItemAsync("token");
        await AuthService.GetAuthenticationStateAsync();
        NavigationService.NavigateTo("");
    }

}
